<!DOCTYPE html>
<html>
  <head>
    <title>My Website</title>
    <style>
      body {
        background-image: url("https://cdn.fs.teachablecdn.com/YyRnKZgQGqKxVRdlO3Wx");
        background-repeat: no-repeat;
        background-size:0cqmax;
        image-rendering: crisp-edges;
      }
    </style>
  </head>
  <body>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis rerum non, deleniti quaerat, quibusdam commodi dicta fugiat, perferendis perspiciatis maiores quo adipisci dolore voluptates ducimus cum labore soluta. Assumenda, nulla.
Lorem, ipsum dolor sit amet consectetur adipisicing elit. At deleniti nam eaque sed doloremque consequatur ipsum blanditiis! Quaerat eius aut iusto id modi nulla? Quisquam totam veniam esse optio? Provident?
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae facilis laborum velit temporibus sed nihil laudantium quisquam quaerat ex, itaque sunt modi enim tempora? Libero reprehenderit asperiores fugit ut pariatur.
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid possimus debitis deserunt vero consequuntur voluptas, aperiam tenetur, voluptatem odio assumenda eaque doloribus eligendi beatae at fugit sit veritatis nihil error?
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga debitis ea, minima voluptate fugiat quibusdam, necessitatibus sit beatae aliquam dolores voluptas consequuntur eligendi dolor cum nulla quo eveniet ut minus!
  </body>
</html>

