

<form (submit)="submitForm()">
    <label>
      Name:
      <input type="text"  name="name">
    </label><br><br>
    <label>
      Email:
      <input type="email"  name="email">
    </label><br><br>
    <button type="submit">Submit</button>
  </form>

    
    <div class="block__image-with-text__inner block__image-with-text__text-wrapper rich-text">
    <div class="block__image-with-text__inner__heading">
    <h4 class="ql-align-center">
    <strong style="color:rgb(0, 0, 0);">Contact Us</strong><br class="softbreak">
    </h4>
    </div>
    <p class="ql-align-center"><br class="softbreak"></p><p class="ql-align-center">Hi. I'm <a href="https://www.linkedin.com/in/dean-cracknell-50888b2b/" target="_blank">Dean Cracknell</a> - A Random person from internet.</p><h6 class="ql-align-center"><br class="softbreak"></h6><p class="ql-align-center">Do you have a question?</p><p class="ql-align-center"><strong>EMAIL </strong><a href="mailto:hello@placemaking.education" target="_blank">hello@placemaking.education</a>.</p><p class="ql-align-center"><strong>PHONE </strong>(61) 0468 38 1745</p><p><br class="softbreak"></p><h4 class="ql-align-center">
    <strong style="color:rgb(0, 0, 0);">Follow us on </strong><a href="https://www.linkedin.com/company/placemaking-education" target="_blank" style="color:rgb(8, 15, 217);"><strong>Linked In</strong></a><br class="softbreak">
    </h4><p><br class="softbreak"></p>
    </div>
    
  